#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.hooks-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1rem;
}

.colored-card {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-top: 1rem;
}
